.html {
	display: flex;
	justify-content: center;
	background: gray;
}

.body {
	text-align: center;
	width: 80%;
	background: darkgrey;
}

.selectedMovie {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.btn {
	margin:10px;	
}
.characters, .planets, .starships, .vehicles, .species, .directorProducer {
	display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    color: white;
    font-size: 18px;

}

.characters > p, .planets > p, .starships > p, .vehicles > p, .species > p, .directorProducer > p {
	margin:10px;
}